body {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; */
  --uno: bg-background-body
    /* background-image: linear-gradient(to bottom, #026d56, #152a2c); */;
}

a {
  text-decoration: none;
}

.title {
  font-size: 3rem;
  line-height: 1;
  font-weight: 800;
  letter-spacing: -0.025em;
  margin: 0;
  color: white;
}

@media (min-width: 640px) {
  .title {
    font-size: 5rem;
  }
}

.greenSpan {
  color: hsl(88, 77%, 78%);
}

.cardRow {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

@media (min-width: 640px) {
  .cardRow {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .cardRow {
    gap: 2rem;
  }
}
