body {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; */
  --uno: bg-background-body
    /* background-image: linear-gradient(to bottom, #026d56, #152a2c); */;
}

a {
  text-decoration: none;
}
